<a href="https://colab.research.google.com/github/laskari/END-Program/blob/main/Python_Programs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# write a python program to add two numbers 
num1 = 1.5
num2 = 6.3
sum = num1 + num2
print(f'Sum: {sum}')

Sum: 7.8

In [2]:
# write a python function to add two user provided numbers and return the sum
def add_two_numbers(num1, num2):    
  sum = num1 + num2    
  return sum

add_two_numbers(10,12)

22

In [3]:
# write a program to find and print the largest among three numbers
num1 = 10
num2 = 12
num3 = 14
if (num1 >= num2) and (num1 >= num3):   
  largest = num1
elif (num2 >= num1) and (num2 >= num3):   
  largest = num2
else:   
  largest = num3
print(f'largest:{largest}')

largest:14

In [4]:
# write a python program to add three numbers
num1 = 10
num2 = 12
num3 = 15
sum = num1+num2+num3
print(f'sum: {sum}')

sum: 37

In [5]:
# write a python function to take number n as input and return squares upto first n numbers
def squares(num):
  return [n**2 for n in range(num)]

squares(10)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [6]:
# write a python funcion to print return cudes of first n numbers
def cubes(num):
  return [n**3 for n in range(num)]

cubes(10)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

In [7]:
# write a python funcion to compute and return area of Circle, given radius
PI = 3.14
def circle_area(radius):
  area_of_cirle = PI * radius**2
  return area_of_cirle

circle_area(6)

113.04

In [8]:
# write a python program to print all the even numbers less than n
def even(num):
  return [n for n in range(num) if n%2==0]

even(10)

[0, 2, 4, 6, 8]

In [9]:
# write a python program to print all the odd numbers less than n
def odd(num):
  return [n for n in range(num) if n%2==1]

odd(10)

[1, 3, 5, 7, 9]

In [10]:
# write a program to check the given number is prime or not
def prime(num):
  for i in range(2, num):
    if num % i ==0:
      return False
    else:
      return True

prime(3)

True

In [11]:
# write a python function to find the the reverse of a given number and return
def reverse(n):
  rev = 0
  while(n > 0): 
    rem = n % 10
    rev = rev * 10 + rem 
    n = n // 10
  return rev
  
reverse(9865456)

6545689

In [12]:
# write a program function print multiplication table for a give number
def print_table(num):
  for i in range(1, 11):
    print(f'{num} * {i} = {num*i}')
print_table(10)

10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

In [13]:
# write a python program to display the current time
import datetime
def display_time():
  now = datetime.datetime.now()
  print (f'Current date and time :{now}')

display_time()

Current date and time :2020-12-17 17:00:44.315956

In [14]:
# write a python program to wish your friend based on current time.
import datetime
def wish_message(name):
  hour = datetime.datetime.now().hour
  message  = 'Good Night' if 4 <= hour<18 else 'Good Evening' if  14<hour<18 else 'Good Morning'
  print(f'{message} {name}')

wish_message('Mr. Rohan Sravan')

Good Night Mr. Rohan Sravan

In [15]:
# create a python dictionary to store the numbers as key and Day as values and print the week day based on number
week = {1: 'Sunday',
        2: 'Monday',
        3: 'Tuesday',
        4: 'Wednesday',
        5: 'Thusday',
        6: 'Friday',
        7: 'Saturday'}

def print_day(num):
  return week.get(num)

print_day(2)

'Monday'

In [16]:
# write a python program to print the numbers upto n in descending order
def rev_print(num):
  print([num for num in range(0,num)][::-1])

rev_print(10)

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [17]:
# write a program to compute the gcd of given two numbers
def compute_gcd(x, y):
   while(y):
       x, y = y, x % y
   return x

gcd = compute_gcd(12, 16)
print(f'The gcd is: {gcd}')

The gcd is: 4

In [18]:
# write a python function to generate the reverse of the given string
def reverse(str):
  return str[::-1]
reverse('Naveen Kumar')

'ramuK neevaN'

In [19]:
# write a python program to find the recurisive sum of n natural numbers
def sum_numbers(num):
  if num==1:
    return 1
  else:
    return num+sum_numbers(num-1)

sum_numbers(10)

55

In [20]:
# write a python program to find the factorial of a given number
def factorial(num):
  if num==0:
    return 1
  else:
    return num * factorial(num-1)

factorial(5)

120

In [21]:
# write a python program to display the number of elements in list

list_a = [1,2,3,4,5,6]
print(len(list_a))

6

In [22]:
# write a python program to take list as input and output dictionary with for each even number the square of the numbers a value

list_input = [i for i in range(10)]
output_dict = {num: num**2 for num in list_input if num%2 == 0}
output_dict

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

In [23]:
# write a python program to take list as input and output dictionary with for each odd number the cube of the numbers a value

list_input = [i for i in range(10)]
output_dict = {num: num**3 for num in list_input if num%2 == 1}
output_dict

{1: 1, 3: 27, 5: 125, 7: 343, 9: 729}

In [24]:
# write a python program to sum all the elements of list

def sum_list(l):
  sum = 0
  for i in l:
    sum += i
  return sum

sum_list([1,2,3,4])

10

In [25]:
# write a python program to perform product of all the elements of list

def prod_list(l):
  prod = 1
  for i in l:
    prod *= i
  return prod

prod_list([1,2,3,4])

24

In [26]:
# write a python program to take two lists as input and generate combination of elements from each list

def combi_ele(l1, l2):
  combi_list =[]
  for e1 in l1:
    for e2 in l2:
      if e1 != e2:
        combi_list.append((e1, e2))
  return combi_list

combi_ele([1,2,3],['a','b','c'])

[(1, 'a'),
 (1, 'b'),
 (1, 'c'),
 (2, 'a'),
 (2, 'b'),
 (2, 'c'),
 (3, 'a'),
 (3, 'b'),
 (3, 'c')]

In [27]:
# write a python program to convert two dimensional array into single dimension array 

def matrix_convert(mat):
  return [num for e1 in mat for num in e1]

matrix_convert([[1,2,3], [4,5,6], [7,8,9]])

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [28]:
# write a python program to perform transpose of matrix

def matrix_transpose(mat):
  return [[row[i] for row in mat] for i in range(4)]
  
matrix_transpose([ [1, 2, 3, 4],
                   [5, 6, 7, 8],
                   [9, 10, 11, 12],
                                  ])

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [29]:
# write a python function to return the list with even number to replaced by its cude and odd number to be replaced by squate

def replace(list_num):
  return [i**3 if i%2 == 0 else i**2 for i in list_num]

replace([2,2,3,4,5,6,7])

[8, 8, 9, 64, 25, 216, 49]

In [30]:
# write a python function to count the number of words in given sentence
def word_count(string):
  return len(string.split())

word_count('Welcome to END program by Rohan Sravan')

7

In [31]:
# write a python function to convert the given sentence into lower case
def convert_lower(string):
  return string.lower()

convert_lower('Welcome to END program by Rohan Sravan')

'welcome to end program by rohan sravan'

In [32]:
# write a python program to arrange the words of sentence in ascending order

# write a python function to count the number of words in given sentence
def word_order(sentences):
  return {sentence.lower() for sentence in sentences.split() }

word_order('Welcome to END program by Rohan Sravan')

{'by', 'end', 'program', 'rohan', 'sravan', 'to', 'welcome'}

In [33]:
# write a python program to remove the duplicate elements from the given list

def remove_dup(list_num):
  dup_num = []
  final_list =[]
  for i in list_num:
    if i not in dup_num:
      final_list.append(i)
      dup_num.append(i)
  return final_list

remove_dup([10,20,30,20,10,50,60,40,80,50,40])

[10, 20, 30, 50, 60, 40, 80]

In [34]:
# write a python function to take list of characters and generate the string

def merge(char):
  return ''.join(char)

merge(['r','o','h','a','n'])

'rohan'

In [35]:
# write a python function to take string as input and print the characters

def char_print(str):
  return [a for a in str]

char_print('Naveen Kumar')

['N', 'a', 'v', 'e', 'e', 'n', ' ', 'K', 'u', 'm', 'a', 'r']

In [36]:
# write a python function to take string as input and print the unique character list

def char_print(str):
  return set(a.lower() for a in str)

char_print('Naveen Kumar')

{' ', 'a', 'e', 'k', 'm', 'n', 'r', 'u', 'v'}

In [37]:
# write a python program to merge the two lists
def merge_list(l1, l2):
   return l1+l2

merge_list([1,2,3,4],[5,6,7])

[1, 2, 3, 4, 5, 6, 7]

In [38]:
# write a python program to display the common elements from the given two lists

def common(l1,l2):
  return (set(l1) & set(l2)) 

common([1,2,3,4],[3,4,5,6])

{3, 4}

In [39]:
# write a python program to take two lists as input and print corresponding elements from each list

def two_list(l1, l2):
  for a_1, b_2 in zip(l1, l2):
    print(a_1, b_2)

two_list([1,2,3,4,5],['a','b','c','d','e'])

1 a
2 b
3 c
4 d
5 e

In [40]:
# write a python function to remove the specified index positioned element from the list

def remove_index(list_1, pos):
  return list_1[:pos] + list_1[pos+1:]

remove_index([1,2,3,4,5],2)

[1, 2, 4, 5]